@import './base.css';

hr{
	margin: 8px 0 !important;
}

.suit {
	padding: 10px 5px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	margin-right: 10px;
}
.suit.♥,
.suit.♦ {
	color: red;
}

.custom-button{
	height: 150px;
}